<div class="create-page">
  <div class="title-content">
    <br>
      <h1> ACERCA DE NOSOTROS</h1>
<br>
  </div>  

    <div class="page-content">

      <div class="row">
        <div class="col col-md-4">
          <img class="img-acercade" src="{{acercade}}">
             
        </div>
         
        <div class="col col-md-8">
          <p class="p">
              <br><br>
              
            Somos una empresa dedicada a satisfacer las necesidades de productos y servicios de las comunidades <br>
            donde estamos presentes, fomentando en cada uno de nosotros nuestra filosofía y valores para asegurar <br>
            una relación permanente y valiosa con nuestros clientes, colaboradores, proveedores, accionistas, comunidad<br>
            y medio ambiente, obteniendo de esta manera una adecuada rentabilidad y garantizando así nuestra permanencia <br>y crecimiento.
          </p>
      </div>
    </div>
  </div>  
    
</div>