
<div class="page-container" >
	<div class="side-bar" *ngIf="authService.isLoggedIn()">
		<ul class="nav flex-rows" >

			<li class="nav-item" >
				<a class="nav-link active" routerLink="home">
				<ion-icon name="home"></ion-icon>
			<!--	<mat-icon>home</mat-icon>
				<button class="mdc-icon-button material-icons">home</button>-->
				</a>
				
			</li>
			<li class="nav-item"  >
				<a class="nav-link" routerLink="new-user">
				<ion-icon name="person-add"></ion-icon>
				<!--<button class="mdc-icon-button material-icons">personadd</button>-->
				</a>
				
			</li>
			 
			<li class="nav-item"  >
				<a class="nav-link" routerLink="about">
				<ion-icon name="information-circle-outline"></ion-icon>
			<!--	<button class="mdc-icon-button material-icons">information</button>-->
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" (click)="logout()">
				<ion-icon name="person"></ion-icon>
				<!--<mat-icon>person</mat-icon>
				<button class="mdc-icon-button material-icons">person</button>
			-->	</a>
			</li>

		</ul>
		
	</div>
	<main class="content-container">
		<router-outlet></router-outlet>
  </main> 
	
  </div>



